@font-face {
    font-family: "Vazir";
    src: url("../../fonts/Vazir.eot");
    src: url("../../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
      url("../../fonts/Vazir.woff2") format("woff2"),
      url("../../fonts/Vazir.woff") format("woff"),
      url("../../fonts/Vazir.ttf") format("truetype");
}

*{
  padding:0;
  margin : 0;
  box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: "Vazir";
}


header {
    background-image: url("../../images/bg-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}


header nav {
  background-color: rgba(0,0,0,.3);
  width: 100%;
  height: 65px;
}

header .header-desc {
  position : absolute;
  top : 40%;
  left:0;
  right:0;
  text-align: center;
}

header .header-desc h1 {
  font-size: 50px;
  color: rgb(226, 253, 253);
}

header .header-desc p {
  font-size: 30px;
  color: rgb(226, 253, 253);
}
header .header-overlay {
  position:absolute;
  background-color: rgba(0,0,0,.3);
  top:0;
  right: 0;
  bottom: 0;
  left:0;
}

header nav ul {
  width: 50%;
  height: 100%;
  float: right;
}


header nav .logo {
  width: 50%;
  height: 100%;
  float: right;
  text-align: left;
}

header nav .logo img {
  width:55px;
  margin-top: 5px;
  margin-left: 5px;
}

header nav ul li {
  display: inline-block;
  margin : 0 15px 0 15px;
  line-height: 3;
  font-size: 20px;
  color: rgb(226, 253, 253);
}

.container {
  width: 1200px;
  margin:auto;
}

